@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

:root{
    --a-color: #90EE90;
    --b-color: #ffffff;
    --c-color: #000000;
    --d-color: #F4F4F4;
    --e-color: #DFDFDF;
}

header{
    padding-left: 20rem;
    padding-right: 20rem;
}


@media (min-width: 200px){
    header{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 1100px){
    header{
        padding-left: 200px;
        padding-right: 200px;
    }
}


header{
    width: 100vw;
    height: 75px;
    border-bottom: 1px solid var(--c-color);
    background-color: var(--b-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.header_left img{
    width: 150px !important;
}

header div.header_right button.btn_login{
    background-color: var(--c-color);
    color: var(--b-color);
}

header div.header_right a{
    text-decoration: none;
    color: var(--c-color);
}

main div.homepage{
    display: flex;
    padding-top: 100px;
}

button{
    border: 1px solid var(--c-color);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3 ease, transform 0.2 ease;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}


div.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

div.homepage h1{
    opacity: 0;
    font-size: 56px;
    animation: fadeIn 1s ease forwards;
}

div.homepage p{
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

@media (min-width: 200px) and (max-width: 800px){
    main{
        display: flex;
    }

    div.homepage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        align-items: center !important;
        padding: 20px;
    }

    div.homepage h1{
        opacity: 0;
        font-size: 42px;
        animation: fadeIn 1s ease forwards;
    }
    
    div.homepage p{
        opacity: 0;
        font-size: 18px;
        animation: fadeIn 2s ease forwards;
    }
    
    .foto-homepage {
        width: 300px;
        opacity: 0;
        transition: all 0.3 ease, transform 0.2 ease;
        animation: fadeIn 3s ease forwards;
    }
    
}

.foto-homepage {
    opacity: 0;
    transition: all 0.3 ease, transform 0.2 ease;
    animation: fadeIn 3s ease forwards;
}

.foto-homepage:hover {
    transform: scale(1.1);
    transition: 0.7s ease-out;
    transition: 0.7s ease-in;
}

@keyframes aparecerDoLado {
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }


header div.header_left img{
    width: 115px;
}

section.main-content{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.login-interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 90px;
    background-color: var(--d-color);
    border-radius: 15px;
    border: 0.5px solid var(--e-color);
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
}


.login-interface .text-login{
    padding: 0px 15px;
    justify-content: center; 
    font-size: 36px;
}

.login-interface .input{
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    width: 30rem;
    border: none;
    background-color: var(--e-color);
    color: var(--c-color) transparent 15;
}

.login-interface .login-input{
    display: flex;
    padding-top: 20px;
    align-items: left;
    padding-bottom: 10px;
    font-size: 24px;
}

.login-interface .login-btn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: var(--a-color);
    color: var(--c-color);
    border: none;
    border-radius: 15px;
    font-size: 24px;
    padding: 20px;

}

@media (min-width: 200px) and (max-width: 900px){
    .login-interface{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 70px 90px;
        background-color: var(--d-color);
        border-radius: 15px;
        border: 0.5px solid var(--e-color);
        box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
        width: 390px;
        height: 450px;
    }
    
    
    .login-interface .text-login{
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 0px;
        justify-content: center; 
        font-size: 22px;
    }
    
    .login-interface .input{
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        width: 20rem;
        border: none;
        background-color: var(--e-color);
        color: var(--c-color) transparent 15;
    }
    
    .login-interface .login-input{
        display: flex;
        padding-top: 20px;
        align-items: left;
        padding-bottom: 10px;
        font-size: 20px;
    }
    
    .login-interface .login-btn{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        background-color: var(--a-color);
        color: var(--c-color);
        border: none;
        border-radius: 15px;
        font-size: 20px;
        padding: 20px;
        margin-top: 50px;
    }
}

.create-account-interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 90px;
    background-color: var(--d-color);
    border-radius: 15px;
    border: 0.5px solid var(--e-color);
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
}



.create-account-interface .text-login{
    padding: 0px 15px;
    justify-content: center; 
    font-size: 36px;
}

.create-account-interface .input{
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    width: 30rem;
    border: none;
    background-color: var(--e-color);
    color: var(--c-color) transparent 15;
}

.create-account-interface .login-input{
    display: flex;
    padding-top: 20px;
    align-items: left;
    padding-bottom: 10px;
    font-size: 24px;
}

.create-account-interface .login-btn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: var(--a-color);
    color: var(--c-color);
    border: none;
    border-radius: 15px;
    font-size: 24px;
    padding: 20px;
}

@media (min-width: 200px) and (max-width: 900px){
    .create-account-interface{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 70px 90px;
        background-color: var(--d-color);
        border-radius: 15px;
        border: 0.5px solid var(--e-color);
        box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
        width: 390px;
        height: 650px;
    }
    
    
    
    .create-account-interface .text-login{
        margin-bottom: 30px;
        padding: 0px;
        justify-content: center; 
        font-size: 22px;
    }
    
    .create-account-interface .input{
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        width: 20rem;
        border: none;
        background-color: var(--e-color);
        color: var(--c-color) transparent 15;
    }
    
    .create-account-interface .login-input{
        display: flex;
        padding-top: 20px;
        align-items: left;
        padding-bottom: 10px;
        font-size: 20px;
    }
    
    .create-account-interface .login-btn{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        background-color: var(--a-color);
        color: var(--c-color);
        border: none;
        border-radius: 15px;
        font-size: 20px;
        padding: 20px;
        margin-top: 50px;
    }

    main .main-content{
        margin-top: 50px;
    }
}